.footer {
    background-color: #222;
    color: #FFF;
    padding: 1.5em;
    text-align: center;
    height: 10vh;
}

.socialList {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-left: -40px;
}

.socialList li {
    margin: 0 1em;
}

.socialList li:hover {
    color: #61DAFB;
}

.socialList svg {
    justify-content: left;
    font-size: 1.5em;
    cursor: pointer;
}

.copyRight{
    margin-top: 0.5em;
}

.copyRight span{
    font-weight: bold;
    color: #61DAFB;
}