.table {
    width: 60%;
    text-align: left;
    /*padding: 1em;
    border: 1px solid #ddd;*/
}
.table th {
    font-weight: bold;
    padding: 8px;
    border: 1px solid #ddd;
}

.table td {
    padding: 8px;
    border: 1px solid #ddd;
}

.table tr:nth-child(even) {
}

